#fundraiser-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
}

@media (max-width: 768px) {
  #fundraiser-list {
    grid-template-columns: 100%;
  }
}

@media (max-width: 480px) {
  #fundraiser-list {
    grid-template-columns: 100%;
  }
}
